@font-face {
    src: url("fonts/Samsung_Myanmar_Regular.ttf");
}
  
* {
    -fx-font-family: "SamsungMyanmar";
    -fx-alignment: CENTER;
}

.congratulations-main {
    -fx-border-width: 3px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-style: solid;
    -fx-background-radius: 55px;
    -fx-border-radius: 55px;
    -fx-background-color: rgb(255, 255, 255);
    -fx-pref-width: 1318px;
    -fx-pref-height: 805px;
}

.congratulations-lbl {
    -fx-font-size: 60px;
}

.answer-word-lbl {
    -fx-font-size: 26px;
}

.answer-word {
    -fx-font-size: 36px;
    -fx-border-width: 4px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-style: solid;
    -fx-border-radius: 9px;
    -fx-background-radius: 9px;
    -fx-background-color: rgb(255, 255, 255);
    -fx-pref-width: 170px;
    -fx-pref-height: 75px;
}

.rule-title {
    -fx-border-width: 3px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-style: solid;
    -fx-text-fill: white;
    -fx-background-color: #e684ab;
    -fx-background-radius: 32px;
    -fx-border-radius: 32px;
    -fx-padding: 0 2 0 2;
    -fx-font-size: 36px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-pref-width: 230px;
    -fx-pref-height: 61px;
    -fx-alignment: CENTER;
}

.close-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.close-btn:hover {
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

